<!DOCTYPE html>
<html>
<head>

<!-- It is recommended, as a thank you, we ask you to include an optional link back to
     GLYPHICONS (http://glyphicons.com) whenever practical. -- Bootstrap Documentation -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page
via file:// --> <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/ html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/ respond.min.js"></script>
<![endif]-->
<link rel="icon" href="Icon.png">

</head>
<body>
<form role="form">
<!--(Output from QUIC):
 Output Comment
-->
<?php
a php PI in body
        var $var = new Array();
       ?>
<nav class=" navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu1-navbar-collapse">
<span class="sr-only">Show/Hide</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">Awesome Menu</a>
</div>
<div class="collapse navbar-collapse" id="menu1-navbar-collapse">
<span class="navbar-text">
        Signed in as 
</span>
<a class=" btn btn-link navbar-link">Thomas</a><button class=" btn btn-default navbar-btn" type="button">Navbar Button</button></div></nav>
<br /><br /><br /><br /><p>
Tabs Example

</p>
<ul class=" nav nav-tabs">
<li class=" active"><a href="#home" data-toggle="tab">Home

</a></li>
<li><a href="#ios" data-toggle="tab">iOS

</a></li>
<li class="dropdown">
<a class=" dropdown-toggle active" href="#" data-toggle="dropdown">
Java
<b class="caret"></b>
</a>
<ul class="dropdown-menu" role="menu">
<li role="presentation"><a role="menuitem" href="#jmeter">jmeter

</a></li>
<li role="presentation" class=" divider"></li>
<li role="presentation"><a role="menuitem" href="#ejb">ejb

</a></li>

</ul>
</li>

</ul>
<div class=" tab-content">
<div id="home" class=" tab-pane fade in">
<p>

            Tutorials Point is a place for beginners in all technical areas. This website covers most of the latest technoligies and explains each of 
            the technology with simple examples. You also have a 
<b>
tryit

</b>
 editor, wherein you can edit your code and try out different 
            possibilities of the examples.
          

</p>
</div>
<div id="ios" class=" tab-pane fade">
<p>

            iOS is a mobile operating system developed and distributed by Apple Inc. Originally released in 2007 for the iPhone, iPod Touch, and 
            Apple TV. iOS is derived from OS X, with which it shares the Darwin foundation. iOS is Apple's mobile version of the OS X operating 
            system used on Apple computers.
          

</p>
</div>
<div id="jmeter" class=" tab-pane fade">
<p>

            jMeter is an Open Source testing software. It is 100% pure Java application for load and performance testing.
          

</p>
</div>
<div id="ejb" class=" tab-pane fade">
<p>

            Enterprise Java Beans (EJB) is a development architecture for building highly scalable and robust enterprise level applications to be 
            deployed on J2EE compliant Application Server such as JBOSS, Web Logic etc.
          

</p>
</div>
</div>
<p>
Pills Example

</p>
<ul class=" nav nav-pills">
<li><a data-toggle="pill">Home

</a></li>
<li class=" active"><a data-toggle="pill">SVN

</a></li>
<li><a data-toggle="pill">iOS

</a></li>
<li><a data-toggle="pill">VB.NET

</a></li>
<li><a data-toggle="pill">Java

</a></li>
<li><a data-toggle="pill">PHP

</a></li>

</ul>
<p>
Vertical Pills Example

</p>
<ul class=" nav nav-pills nav-stacked">
<li><a data-toggle="pill">Home

</a></li>
<li><a data-toggle="pill">SVN

</a></li>
<li class=" active"><a data-toggle="pill">iOS

</a></li>
<li><a data-toggle="pill">VB.NET

</a></li>
<li><a data-toggle="pill">Java

</a></li>
<li><a data-toggle="pill">PHP

</a></li>

</ul>
<p>
Justified Pills Example

</p>
<ul class=" nav nav-pills nav-justified">
<li><a data-toggle="pill">Home

</a></li>
<li><a data-toggle="pill">SVN

</a></li>
<li><a data-toggle="pill">iOS

</a></li>
<li class=" active"><a data-toggle="pill">VB.NET

</a></li>
<li><a data-toggle="pill">Java

</a></li>
<li><a data-toggle="pill">PHP

</a></li>

</ul>
<p>
Justified Tabs Example

</p>
<ul class=" nav nav-tabs nav-justified">
<li><a data-toggle="tab">Home

</a></li>
<li><a data-toggle="tab">SVN

</a></li>
<li><a data-toggle="tab">iOS

</a></li>
<li><a data-toggle="tab">VB.NET

</a></li>
<li class=" active"><a data-toggle="tab">Java

</a></li>
<li><a data-toggle="tab">PHP

</a></li>

</ul>
<p>
Disabled Tab Example

</p>
<ul class=" nav nav-tabs">
<li class=" disabled"><a data-toggle="tab">Home

</a></li>
<li><a data-toggle="tab">SVN

</a></li>
<li><a data-toggle="tab">iOS

</a></li>
<li><a data-toggle="tab">VB.NET

</a></li>
<li><a data-toggle="tab">Java

</a></li>
<li class=" active"><a data-toggle="tab">PHP

</a></li>

</ul>
<p>
Disabled Pill Example

</p>
<ul class=" nav nav-pills">
<li class=" active"><a data-toggle="pill">Home

</a></li>
<li class=" disabled"><a data-toggle="pill">SVN

</a></li>
<li><a data-toggle="pill">iOS

</a></li>
<li><a data-toggle="pill">VB.NET

</a></li>
<li><a data-toggle="pill">Java

</a></li>
<li><a data-toggle="pill">PHP

</a></li>

</ul>
<p>
Tabs With DropDown Example

</p>
<ul class=" nav nav-tabs">
<li><a data-toggle="tab">Home

</a></li>
<li><a data-toggle="tab">SVN

</a></li>
<li><a data-toggle="tab">iOS

</a></li>
<li><a data-toggle="tab">VB.NET

</a></li>
<li class="dropdown">
<a class=" dropdown-toggle active" href="#" data-toggle="dropdown">
Java
<b class="caret"></b>
</a>
<ul class="dropdown-menu" role="menu">
<li role="presentation" class=" dropdown-header">Just under a divider</li>
<li role="presentation"><a role="menuitem" href="">First SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Second SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Third SubMenu Item

</a></li>
<li role="presentation" class=" divider"></li>
<li role="presentation"><a role="menuitem" href="">Fourth SubMenu Item

</a></li>

</ul>
</li>
<li><a data-toggle="tab">PHP

</a></li>

</ul>
<p>
Pills With DropDown Example

</p>
<ul class=" nav nav-pills">
<li class=" active"><a data-toggle="pill">Home

</a></li>
<li><a data-toggle="pill">SVN

</a></li>
<li><a data-toggle="pill">iOS

</a></li>
<li><a data-toggle="pill">VB.NET

</a></li>
<li class="dropdown">
<a class=" dropdown-toggle" href="#" data-toggle="dropdown">
Java
<b class="caret"></b>
</a>
<ul class="dropdown-menu" role="menu">
<li role="presentation" class=" dropdown-header">Just under a divider</li>
<li role="presentation"><a role="menuitem" href="">First SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Second SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Third SubMenu Item

</a></li>
<li role="presentation" class=" divider"></li>
<li role="presentation"><a role="menuitem" href="">Fourth SubMenu Item

</a></li>

</ul>
</li>
<li><a data-toggle="pill">PHP

</a></li>

</ul>
<ol class=" breadcrumb">
<li><a>2012

</a></li>
<li><a>2013

</a></li>
<li><a>2014

</a></li>
<li class=" active">2015

</li>
<li><a>2016

</a></li>

</ol>
<table class=" table table-responsive table-bordered table-condensed table-hover table-striped">
<caption><span class="glyphicon glyphicon-thumbs-up">Awesome Table</span></caption>
<thead>
<tr>
<th class=" active">

              Name
            
</th>
<th class=" danger">

              City
            
</th>
<th class=" success">

              Pincode
            
</th>
</tr>
</thead>
<tbody>
<tr>
<td class=" active">
<div role="toolbar" class=" btn-toolbar">
<div class=" btn-group-xs btn-group">
<button class=" btn btn-default" type="button"><span class="glyphicon glyphicon-align-left"><b xmlns="Quic.Bootstrap.dll">Align Left</b></span></button><button class=" btn btn-default" type="button"><span class="glyphicon glyphicon-align-justify">Align Justify</span></button><button class=" btn btn-default" type="button"><span class="glyphicon glyphicon-align-right">Align Right</span></button></div>
<div class=" btn-group-sm btn-group">
<button class=" btn btn-default" type="button"><span class="glyphicon glyphicon-thumbs-up"></span></button><button class=" btn btn-default" type="button"><span class="glyphicon glyphicon-thumbs-down"></span></button></div>
<div class=" btn-group">
<button class=" btn btn-primary" type="button"><span class="glyphicon glyphicon-arrow-left"></span></button><button class=" btn btn-primary" type="button"><span class="glyphicon glyphicon-arrow-right"></span></button><button class=" btn btn-primary" type="button"><span class="glyphicon glyphicon-arrow-up"></span></button><button class=" btn btn-primary" type="button"><span class="glyphicon glyphicon-arrow-down"></span></button><div class=" btn-group">
<div class="dropup">
<button type="button" class=" btn dropdown-toggle btn-primary" data-toggle="dropdown">

<span class="caret"></span>
</button>
<ul class=" dropdown-menu" role="menu">
<li role="presentation"><a role="menuitem" href="">First SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Second SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Third SubMenu Item

</a></li>
<li role="presentation" class=" divider"></li>
<li role="presentation"><a role="menuitem" href="">Fourth SubMenu Item

</a></li>

</ul>

</div>
</div>
</div>
<div class=" btn-group">
<div class=" btn-group">
<div class="dropup btn-group">
<button type="button" class=" btn btn-info">
Split
</button>
<button type="button" class=" btn btn-info dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
</button>
<ul class=" dropdown-menu" role="menu">
<li role="presentation"><a role="menuitem" href="">First SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Second SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Third SubMenu Item

</a></li>
<li role="presentation" class=" divider"></li>
<li role="presentation"><a role="menuitem" href="">Fourth SubMenu Item

</a></li>

</ul>

</div>
</div>
</div>
</div>
</td>
<td class=" danger">

              Bengalore
            
</td>
<td class=" success">

              560001
            
</td>
</tr>
<tr class=" active">
<td>
<div class="input-group">
<span class="input-group-addon">@</span>
<button class=" btn btn-default form-control" type="button">Bangalore</button>
<span class="input-group-addon">$</span>
</div>
</td>
<td>

              Mumbai
            
</td>
<td>

              400003
            
</td>
</tr>
<tr class=" danger">
<td>
<button id="btn1" class=" btn btn-danger" type="button" ng-model="angularJsModel">My First Button</button></td>
<td>
<div class="dropup">
<button type="button" class=" btn btn-default dropdown-toggle" data-toggle="dropdown">
<span class="glyphicon glyphicon-thumbs-up"></span>
<span class="caret"></span>
</button>
<ul class=" dropdown-menu pull-right" role="menu">
<li role="presentation"><a role="menuitem" href="">First SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Second SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Third SubMenu Item

</a></li>
<li role="presentation" class=" divider"></li>
<li role="presentation"><a role="menuitem" href="">Fourth SubMenu Item

</a></li>

</ul>

</div>
</td>
<td>

              411027
            
</td>
</tr>
<tr class=" success">
<td>
<div class="dropup">
<button type="button" class=" btn dropdown-toggle btn-success form-control" data-toggle="dropdown">
My First Button
<span class="caret"></span>
</button>
<ul class=" dropdown-menu pull-right" role="menu">
<li role="presentation"><a role="menuitem" href="">First SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Second SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Third SubMenu Item

</a></li>
<li role="presentation" class=" divider"></li>
<li role="presentation" class=" dropdown-header">Just under a divider</li>
<li role="presentation"><a role="menuitem" href="">Fourth SubMenu Item

</a></li>

</ul>

</div>
</td>
<td>
<button class=" btn btn-success" type="button" ng-model="angularJsModel">My Fifth Button</button></td>
<td>

              123456
            
</td>
</tr>
<tr>
<td>
<button class=" btn btn-default" type="button" ng-model="angularJsModel">My First Button</button></td>
<td class=" success">
<div class="dropdown">
<button type="button" class=" btn dropdown-toggle btn-success form-control" data-toggle="dropdown">
My Fifth Button
<span class="caret"></span>
</button>
<ul class=" dropdown-menu" role="menu">
<li role="presentation"><a role="menuitem" href="">First SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Second SubMenu Item

</a></li>
<li role="presentation"><a role="menuitem" href="">Third SubMenu Item

</a></li>
<li role="presentation" class=" divider"></li>
<li role="presentation"><a role="menuitem" href="">Fourth SubMenu Item

</a></li>

</ul>

</div>
</td>
<td class=" warning">
<label class=" control-label"><span class="glyphicon glyphicon-thumbs-up">109876</span></label></td>
</tr>
</tbody>
</table>
<div class=" container">
<div class=" row">
<div class=" col-md-3 col-lg-3 col-sm-3 col-xs-3">
<div class=" form-group has-error">
<input type="file" class=" form-control"/><input type="text" class=" form-control" placeholder="Enter your name here" value=""/><input type="password" class=" form-control" placeholder="Enter your password here" value=""/><textarea class=" form-control" placeholder="About me">My First Button</textarea>
</div>

</div>
<div class=" col-md-3 col-lg-3 col-sm-3 col-xs-3">
<label></label>
<select class=" form-control">
<option>
1

</option>
<option>
2

</option>
<option>
3

</option>
<option>
4

</option>

</select>
<label></label>
<select class=" form-control" multiple>
<option>
1

</option>
<option>
2

</option>
<option>
3

</option>
<option>
4

</option>

</select>

</div>
<div class=" col-md-6 col-lg-6 col-sm-6 col-xs-6">
<div class=" row">
<div class=" col-md-6 col-lg-6 col-sm-6 col-xs-6">
<span><input type="checkbox" value="checkbox1"/><span class="glyphicon glyphicon-thumbs-up">My First Button</span></span><span class=" disabled"><input type="checkbox" value="checkbox2" checked disabled/>My Fifth Button</span><span><input type="radio" name="grp1" value="radio1"/><span class="glyphicon glyphicon-thumbs-up">My First Button</span></span><span class=" disabled"><input type="radio" name="grp1" value="radio2" checked disabled/>My Fifth Button</span><span class=" form-control"><input type="radio" value="radio3"/>My First Button</span><span class=" form-control disabled"><input type="radio" value="radio4" checked disabled/>My Fifth Button</span>
</div>
<div class=" col-md-6 col-lg-6 col-sm-6 col-xs-6">
<TabPanel Disabled="true">
<button class=" btn input-sm btn-info" type="button">My First Button</button><a class=" btn btn-link input-lg" href="abc.xyz">ABC.XYZ</a>
</TabPanel>
<a class=" btn btn-link input-lg form-control" href="http://abc.xyz">ABC.XYZ</a><button id="btn5" class=" btn input-lg btn-lg btn-block btn-primary" type="button"><span class="glyphicon glyphicon-bell">My Fifth Button</span></button>
</div>

</div>

</div>

</div>
<div class=" row">
<div class=" col-md-4 col-lg-4 col-sm-4 col-xs-4">
<img id="img1" src="images\3d_-_Blue_Thorns.jpg" class=" img-responsive img-circle" alt="image 1">
</div>
<div class=" col-md-4 col-lg-4 col-sm-4 col-xs-4">
<img id="img1Abs" src="images\3d_-_Blue_Thorns.jpg" class=" img-responsive img-rounded" alt="image 1 Absolute">
</div>
<div class=" col-md-4 col-lg-4 col-sm-4 col-xs-4">
<img id="img2" src="images\8cee69ab40.jpg" class=" img-responsive img-thumbnail" alt="image 2">
</div>

</div>

</div>
<div class="input-group">
<span class="input-group-addon">Choose An Awesom File</span>
<input type="file" class=" form-control"/>
<span class="input-group-addon">!</span>
</div>
<div class="input-group">
<span class="input-group-addon">#</span>
<span class=" form-control"><input type="checkbox" value="checkbox3"/><span class="glyphicon glyphicon-thumbs-up">Prepend</span></span>

</div>
<div class="input-group">

<span class=" disabled"><input type="checkbox" value="checkbox4" checked disabled/>Append</span>
<span class="input-group-addon">@</span>
</div>
<div class="input-group">
<span class="input-group-addon">#</span>
<span class=" form-control"><input type="radio" name="grp1" value="radio5"/><span class="glyphicon glyphicon-thumbs-up">Both</span></span>
<span class="input-group-addon">yeah</span>
</div>
<div class="input-group">
<span class="input-group-addon">Read Me:</span>
<label class=" control-label form-control">I am an awesome label</label>
<span class="input-group-addon">!</span>
</div>
<div class="input-group">
<span class="input-group-addon">Ask anything:</span>
<input type="text" class=" form-control" placeholder="I am waiting" value=""/>
<span class="input-group-addon">?</span>
</div>
<div class="input-group">
<span class="input-group-addon">Ask anything:</span>
<textarea class=" form-control" placeholder="I am waiting"></textarea>
<span class="input-group-addon">?</span>
</div>
<div class=" input-group input-group-sm">
<div class="input-group">
<span class="input-group-addon"><input type='radio'></span>
<img src="images\8cee69ab40.jpg" class=" img-responsive img-thumbnail form-control" alt="image 2">
<span class="input-group-addon"><input type='checkbox'></span>
</div>
</div>
<div class=" input-group input-group-sm">
<span class=" input-group-addon">
<span><input type="radio" value="radio6"/></span></span>
<input type="text" class=" form-control" value=""/><span class=" input-group-addon">
<span><input type="checkbox" value="checkbox5"/></span></span>
</div>
<button class=" btn btn-default" type="button">0</button><button class=" btn btn-default" type="button">0</button><button class=" btn btn-default" type="button">0</button><button class=" btn btn-default" type="button">0</button><button class=" btn btn-default" type="button">0</button><button class=" btn btn-default" type="button">0</button><button class=" btn btn-default" type="button">1</button><button class=" btn btn-default" type="button">2</button><button class=" btn btn-default" type="button">3</button><button class=" btn btn-default" type="button">1</button><button class=" btn btn-default" type="button">2</button><button class=" btn btn-default" type="button">3</button><div class=" input-group input-group-lg">
<span class=" input-group-btn">
<button class=" btn btn-default" type="button">Go!</button></span>
<input type="text" class=" form-control" value=""/><div class="dropup input-group-btn">
<button type="button" class=" btn btn-default">
Split
</button>
<button type="button" class=" btn btn-default dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li role="presentation"><a role="menuitem">1

</a></li>
<li role="presentation"><a role="menuitem">1

</a></li>
<li role="presentation"><a role="menuitem">1

</a></li>
<li role="presentation"><a role="menuitem">Repeat 3 times

</a></li>
<li role="presentation"><a role="menuitem">Repeat 3 times

</a></li>
<li role="presentation"><a role="menuitem">Repeat 3 times

</a></li>

</ul>
</div>
</div>
</form>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>